<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Lead</title>
</head>

<body>
    <a href="{% url 'leads:leads_list' %}">Back To Lead List</a>
    <hr>
    <h1>Create a new lead</h1>
    
    <form action="{% url 'leads:leads_create' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit">Save</button>
    </form>

</body>

</html>