<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

</style>

<body>
    
<h1>Lead Details</h1>
<a href="{% url 'leads:leads_update' lead.id %}">Update</a>
<a href="{% url 'leads:leads_delete' lead.id %}">Delete</a>
<hr>
<div class="lead-box">
    <table>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{lead.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{lead.last_name}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{lead.age}}</td>
            </tr>
            <tr>
                <td>Agent</td>
                <td>{{lead.agent.user.username}}</td>
            </tr>
        </tbody>
    </table>
</div>
    


</body>
</html>