<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

</style>

<body>
    <a href="{% url 'leads:leads_create' %}">Create Leads</a>
    <hr>
    <h1>This is Lead List</h1>

    <ul>
        {% for lead in leads %}
           <li><a href="{% url 'leads:leads_detail' lead.id %}">{{lead}}</a></li>
        {% endfor %}
    </ul>

    


</body>
</html>